/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Padding for spacing */
.inner {
  padding: 10px;
}

/*
 * Cover
 */
.header {
  background: #f22; /* IE8 proofing */
  background: rgba(255,32,32,.5);
  color: #000;
}
.heading {
  position: relative;
  padding: 0;
  color: #fff;
}
.lead {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}
.intro {
  padding: 20px 0;
}
.intro em {
  color: #fff;
}

/*
 * Footer
 */

.mastfoot {
  background: #fff; /* IE8 proofing */
  background: rgba(255,255,255,.7);
}
.mastfoot a:hover img {
  background: #eee; /* IE8 proofing */
  background: rgba(255,255,255,.6);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

/*
 * Map
 */
#map {
  width: 100%;
  height: 1000px; /*calc using height = map.top - browser.height*/
  background: #fff;
}
